* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fafafa;
}

body {
  height: 100vh;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#color-container {
  height: 500px;
  width: 500px;
  background-color: rgb(239, 132, 45);
  display: flex;
  justify-content: center;
  align-items: center;
}

#button {
  margin-top: 10px;
  padding: 20px 50px;
  border: none;
  border-radius: 10px;
  background-color: rgb(213, 35, 241);
  cursor: pointer;
  font-size: 20px;
}
